<section class="home-section1 section">
  <div class="home-section1-top">
    <h3>
      {{tieu_de}}
    </h3>
    <p>
      {{noi_dung}}
    </p>

  </div>
  <div class="home-section1-center">
    <div class="container">
      <div class="row">
        <div class="col-4" *ngFor="let product of products">
          <a href=""> <!-- Update the route path as needed -->
            <div class="item">
              <img [src]="product.image" [alt]="product.name" />
              <div class="title">
                <h3>
                  {{product.name}}
                </h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section1-bottom">
    <a href="">
      <button class="btn btn__effect--2" data-text="Xem thêm">
        <span>X</span><span>e</span><span>m</span>
        <span>T</span><span>h</span><span>ê</span><span>m</span>
      </button>
    </a>
  </div>

</section>
